<div id="index_centerbox">
	<div id="index_about">
		<h3>Welcome to Law Breaking Citizen!</h3>
		<p>Are you a jay walker?</p>
		<p>Stealing some wifi?</p>
		<br>
		<p>Impress your fellow felons and become notorious</p>
		<p>Who knows? You may become the teflon don of your block!</p>
		<p>-- Come join our community of rebels and share your unlawful story! --</p>
	</div>
	<div id="signin_signup">
		
	</div>
	
</div>