<!DOCTYPE html>
<html>
<head>
  <title>Law Breaking Citizen</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="socialicons">
		<img src="assets/twitter.png" alt="">
		<img src="assets/reddit.png" alt="">
		<img src="assets/fb.png" alt="">
	</div>
	<div id="mastercontainer">
		<header>
			<nav>
				<div id="title">
					<h1><b>L</b>aw</h1> 
					<h1><b>B</b>reaking</h1>
					<h1><b>C</b>itizen</h1>
				</div>	
				<ul>
					<li>home</li>
					<li>about</li>
					<li>contact</li>
					<li>my account</li>
					<li>sign out</li>
				</ul>	
			</nav>
		</header>
		
		
		<%= yield %>

		<footer>
			<ul>
				<li>twitter</li>
				<li>facebook</li>
				<li>reddit</li>
			</ul>
		</footer>
	</div>
</body>
</html>
