<!DOCTYPE html>
<html>
<head>
  <title>LawBreakingCitizen</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="mastercontainer">
		<header>
			<nav>
				<h1>Law Breaking Citizen</h1>
				<ul>
					<li>home</li>
					<li>about</li>
					<li>contact</li>
					<li>my account</li>
					<li>sign out</li>
				</ul>	
			</nav>
		</header>
		
		
		<%= yield %>

		<footer>
			<ul>
				<li>twitter</li>
				<li>facebook</li>
				<li>reddit</li>
			</ul>
		</footer>
	</div>
</body>
</html>
